@page "/TableGrid"
@using System.Data



<h3>TableGrid</h3>

<h3>Player</h3>
<table style="background-color: #FFFFFF; border-style: inset; border-width: 1px; border-color: #6D7B8D; padding: 2px; width: 100%; table-layout: fixed;" cellpadding="1" cellspacing="1">

    <tr style="background-color:#FFFFFF; color:#2d364d;" > 
           <td width="80" align="center">  
               <img src="@ImageSortLast" onclick="@(async () => await PlayerSorting("LastName"))" height="24" width="24"/>  
               LastName                 
           </td>  
           <td width="240" align="center">  
               <img src="@ImageSortFirst" onclick="@(async () => await PlayerSorting("FirstName"))" height="24" width="24"/>     
               FirstName    
           </td>  
           <td width="240" align="center">  
               <img src="@ImageSortPos" onclick="@(async () => await PlayerSorting("Position"))" height="24" width="24"/>  
               Position   
           </td>  
           <td width="120" align="center">  
               <img src="@ImageSortClub" onclick="@(async () => await PlayerSorting("Club"))" height="24" width="24"/>  
               Club   
           </td>  
           <td width="340" align="center">  
               <img src="@ImageSortSchool" onclick="@(async () => await PlayerSorting("School"))" height="24" width="24"/>  
               School   
           </td>  
        </tr>
    @foreach (var plyr in PlayerInfo)
    {

        <tr style="border-style: solid; border-width: 2px; border-color: #659EC7;">
            <td align="center">
                <span style="color: black">
                    @plyr.LastName
                </span>
            </td>
            <td align="center">
                <span style="color: black">
                    @plyr.FirstName
                </span>
            </td>
            <td align="center">
                <span style="color: black">
                    @plyr.Position
                </span>
            </td>
            <td align="center">
                <span style="color: black">
                    @plyr.Club
                </span>
            </td>
            <td align="center">
                <span style="color: black">
                    @plyr.School
                </span>
            </td>
        </tr>
    }
</table>
